@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
:root {
    --cor-primaria: #0077c8;
    --cor-secundaria: #f9e3ff;
    --cor-terciaria: #edf67d;
    --cor-hover: #66CCFF;
    --cor-footer: #9AB357;

    --font-primaria: "Alfa Slab One", serif;
    --font-secundaria: "Titillium Web", sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    padding: 2% 0% 0% 10%;
}
.container-menu {
    display: flex;
    gap: 30px;
}
.menu {
    
    font-family: var(--font-primaria);
    font-size: 1.25rem;
    color: var(--cor-terciaria);
    text-decoration: none;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}
.titulo-destaque {
    color: var(--cor-terciaria); 
}

.apresentacao {
    padding: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.apresentacao__conteudo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 615px;
}

.apresentacao__conteudo__titulo {
    font-size: 3.125rem;
    color: #f9e3ff;
    line-height: 50px;
    font-family: var(--font-primaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--font-secundaria)
}
.apresentacao__conteudo__links {
    align-items: center;
    gap: 30px;
    display: flex;
    justify-content: space-between;
}
.UASÁUSQUI {
    width: 50%;
    border-radius: 50px;
}

.apresentacao__conteudo__links__link {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    border: solid var(--cor-terciaria);
    width: 200px;
    text-align: center;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-weight: 600;
    font-family: var(--font-secundaria);
    border-radius: 8px;
    padding: 10px 10px;

}
.apresentacao__conteudo__links__link:hover {
    background-color: var(--cor-hover);


}

.footer {
    padding: 24px;
    text-align: center;
    background-color: var(--cor-footer);
    color: var(--cor-terciaria);
    font-family: var(--font-secundaria);
    text-transform: uppercase;
}

@media (max-width: 1200px) {
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        width: auto;
    }

    .apresentacao__conteudo {
        width: 100%;
    }

    .UASÁUSQUI {
        width: 80%;
        margin-bottom: 10%;
    }

    .apresentacao__conteudo__links {
        flex-direction: column;
        gap: 20px;
    }

    .container-menu {
        justify-content: center;
        align-items: center;
    }

    .cabecalho {
        padding: 5% 0;
        text-align: center;
    }
}
